* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: oldlace;
}

header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(64, 92, 143);
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 55px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-flex;
}

h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 50px;
}

a {
    color:aliceblue;
    text-decoration: dotted;
    font-size: 20px;
    margin-right: 25px;
}

p {
    font-size: 15px;
    
}

#aboutmetxt {
    margin-left: 50px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://d3kqdc25i4tl0t.cloudfront.net/articles/content/519_295775_tech.hero.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    display: block;
}

footer {
    font-size: 10px;
    text-align: center;
}

footer p {
margin-bottom: 10px;
}

#number {
    font-size: 20px;
}

.corgi:hover {
    opacity: 25%;

}

#gitlink {
    color:black;
}

#dog1 {
    width:75%;
    margin-left:auto;
    margin-right:auto;
    height:500px;
}

.corgi {
    width:37.5%;
    height:500px;
}

.centeredimg {
    width: 100%;
    text-align: center;
}
